<%= form_for(task) do |f| %>

    <% if task.errors.any? %>
        <p class="alert-warning"><%= task.errors.as_json %></p>
    <% end %>

    <div class="field row">
      <div class="col-xs-2 col-form-label-sm">
        <%= f.label :description, 'description:' %>
      </div>
      <div class="col-xs-4">
        <%= f.text_area :description %>
      </div>
    </div>

    <div class="field row">
      <div class="col-xs-2 col-form-label-sm">
        <%= f.label :color_id, 'color:' %>
      </div>
      <div class="col-xs-4">
        <%= f.select :color_id do %>
            <% Color.all.each do |color| %>
                <%= content_tag(:option, color.to_s, value: color.id, class: color.name, selected: (color.eql? task.color)) %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="actions row">
      <div class="col-xs-4 offset-xs-2">
        <%= f.submit (task.persisted? ? 'update task' : 'create task') %>
      </div>
    </div>
<% end %>
