<a href="<%= edit_task_path(task) %>">
  <div class="card">
    <div class="card-block <%= task.color %>">
      <div class="col-xs-8">
        <p class="card-text"><%= task.description %></p>
      </div>
      <div class="col-xs-4">
        <% if task.errors.any? %>
          <p><%= task.errors.as_json %></p>
        <% end %>
        <% if task.status.to_sym.eql? :not_started %>
            <%= link_to 'start', start_task_url(task), class: 'card-link' %>
        <% elsif task.status.to_sym.eql? :in_progress %>
            <%= link_to 'unstart', unstart_task_url(task), class: 'card-link' %>
            <br>
            <%= link_to 'complete', complete_task_url(task), class: 'card-link' %>
        <% elsif task.status.to_sym.eql? :completed %>
            <%= link_to 'uncomplete', uncomplete_task_url(task), class: 'card-link' %>
        <% end %>
      </div>
    </div>
  </div>
</a>
