<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'form', task: @task %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 offset-md-2">
      <%= button_to 'archive', archive_task_url(@task), method: :get %>
    </div>
  </div>
</div>