<div class="container">

  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="col-lg-4">
    <h4>not started</h4>
    <%= render @tasks.where(status: :not_started) %>
  </div>

  <div class="col-lg-4">
    <h4>in progress</h4>
    <%= render @tasks.where(status: :in_progress) %>
  </div>

  <div class="col-lg-4">
    <h4>completed</h4>
    <%= render @tasks.where(status: :completed) %>
  </div>

</div>
