<div class="container">
  <% if notice %>
      <div class="alert alert-dismissible">
        <p id="notice"><%= notice %></p>
      </div>
  <% end %>
  <div class="row">
    <div class="col-xs-2">
      <p>description:</p>
    </div>
    <div class="col-xs-4">
      <p><%= @task.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>color:</p>
    </div>
    <div class="col-xs-4">
      <p><%= @task.color %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>status:</p>
    </div>
    <div class="col-xs-4">
      <p><%= @task.status.humanize.downcase %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 offset-xs-2">
      <%= link_to 'edit', edit_task_path(@task) %>
    </div>
  </div>
</div>

