<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p><%= link_to 'magic algorithm to sort by tasks that have been pending for a long time', magic_url %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @task_histories.each do |hist_record| %>
          <div class="row">
            <p><%= hist_record.created_at.in_time_zone('Central Time (US & Canada)').strftime('%m/%d %I:%M%p') %></p>
          </div>
      <% end %>
    </div>
  </div>

</div>
