<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p style="margin-bottom: 50px;">This report shows unarchived tasks that have taken a long time. You should strive to work on things that
        have been in progress for a long time, lest they weigh more and more on your other tasks.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-6">
          <h4>task</h4>
        </div>
        <div class="col-xs-4">
          <h4>time in progress</h4>
        </div>
      </div>
      <% @time_pending_by_task.each do |key, value| %>
          <div class="row">
            <div class="col-xs-6">
              <%= render key %>
            </div>
            <div class="col-xs-4">
              <p><%= "#{(value / 60).round}" %> minutes in progress.</p>
            </div>
          </div>
      <% end %>
    </div>
  </div>

</div>
