<%= form_for(color) do |f| %>
    <% if color.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

          <ul>
            <% color.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <div class="">
        <%= f.label :name, 'name:' %>
      </div>
      <div class="">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="field">
      <div class="">
        <%= f.label :primary, 'primary:' %>
      </div>
      <div class="">
        <%= f.text_field :primary %>
      </div>
    </div>

    <div class="field">
      <div class="">
        <%= f.label :secondary, 'secondary:' %>
      </div>
      <div class="">
        <%= f.text_field :secondary %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
