<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Colors</h1>
  <table>
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @colors.each do |color| %>
        <tr style="background-color: #<%= color.primary.to_s %>;">
          <td><%= link_to 'Show', color %> |</td>
          <td><%= link_to 'Edit', edit_color_path(color) %> |</td>
          <td><%= link_to 'Destroy', color, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'New Color', new_color_path %>
</div>

