textarea {
  width: 400px;
  height: 100px;
}

label {
  vertical-align: top;
}

select {
  option {
    color: #ebdbb2;
  }
  .dark {
    background-color: #282828;
  }
  .red {
    background-color: #cc241d;
  }
  .green {
    background-color: #98971a;
  }
  .yellow {
    background-color: #d79921;
  }
  .blue {
    background-color: #458588;
  }
  .purple {
    background-color: #b16288;
  }
  .aqua {
    background-color: #689d6a;
  }
  .gray {
    background-color: #a89984;
  }
}

.card .card-text {
  color: #ebdbb2;
}
.card-block.dark {
  background-color: #282828;
}
.card-block.red {
  background-color: #cc241d;
}
.card-block.green {
  background-color: #98971a;
}
.card-block.yellow {
  p {
    color: #282828;
  }
  background-color: #d79921;
}
.card-block.blue {
  background-color: #458588;
}
.card-block.purple {
  background-color: #b16288;
}
.card-block.aqua {
  background-color: #689d6a;
}
.card-block.gray {
  background-color: #a89984;
}

