<!DOCTYPE html>
<html>
<head>
  <title>kanban</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="navbar">
  <h3>kanban</h3>
  <span class="navbar-text small">simple kanban board</span>
  <div>
    <span class="nav-link"><%= link_to 'task board', tasks_url %></span> |
    <span class="nav-link"><%= link_to 'new task', new_task_url %></span> |
    <span class="nav-link"><%= link_to 'what should I do?', magic_url %></span>
  </div>
</div>
<%= yield %>
</body>
</html>
